/* Fondo con imagen (hojas) — SOLO en modo claro */
body[data-md-color-scheme="default"] {
  background-image: url(../assets/bg-hojas.webp);
  background-repeat: repeat;
  background-attachment: fixed;
}

body[data-md-color-scheme="default"] .md-main__inner {
  background: rgba(255, 255, 255, 0.72);
}

body[data-md-color-scheme="default"] .md-sidebar--primary {
  background: rgba(255, 255, 255, 0.55);
}
